h1 {
  color: #8D0B81;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2 {
  color: #8D0B81;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

h3 {
  color: #8D0B81;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
.mat-sidenav {
  position: absolute;
  flex: 0 1 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #555;
}
.mat-sidenav-content {
    position: relative;
    flex: 1 1 auto;
    border: 1px solid #555;
}
.mat-sidenav-container {
  border: 1px solid #555;
}
