


<div class="row">
  <div class="col-md-12">
    <app-header-bar> Loading header </app-header-bar>
  </div>
</div>
<div>
  <mat-form-field>
  <mat-select placeholder="Select from visitors">
    <mat-option *ngFor="let visitor of visitors"
                value={{visitor.visitorId}}>>
      {{visitor.name}}
    </mat-option>
  </mat-select>
  </mat-form-field>
  <br>
  <br>
  <a mat-stroked-button color="accent" routerLink="/visitor-book" routerLinkActive="active">Read by visitor</a>
</div>


<!--<div>-->
  <!--<label>Language:</label>-->
  <!--<select  [formControl]="sampleform.controls['languageID']">-->
    <!--<option value="0">&#45;&#45;Select&#45;&#45;</option>-->
    <!--<option *ngFor="let lang of languages"-->
            <!--value={{lang.languageID}}>-->
      <!--{{lang.language}}-->
    <!--</option>-->
  <!--</select>-->
<!--</div>-->

<!--<router-outlet></router-outlet>-->













