
<h3>Visitor book</h3>
<div class="app-container">
  <app-header-bar> Loading header </app-header-bar>


  <mat-sidenav-container style="height:100%" class="mat-sidenav-container">

    <mat-sidenav class="mat-sidenav" position="start" mode="side" [opened]="true">
      <app-side-bar-navigation>Testing...</app-side-bar-navigation>
    </mat-sidenav>
    <mat-sidenav-content class="mat-sidenav-content">
      <!--<section>-->
      <!--<center>-->
      <!--<app-visitor-book></app-visitor-book>-->

      <!--</center>-->
      <!--</section>-->
      <mat-form-field>
        <mat-select placeholder="Select from visitors">
          <mat-option *ngFor="let visitor of visitors"
                      value={{visitor.visitorId}}>>
            {{visitor.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>














