
<!--<nav>-->
<!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->
  <!--<mat-sidenav-container>-->
    <!--<mat-sidenav mode="side" opened>Sidenav content TESTING-->
    <!--</mat-sidenav>-->
    <!--<mat-sidenav-content>-->
      <!--&lt;!&ndash;&lt;!&ndash;<a routerLink="/visitor-book" routerLinkActive="active">Read visitor book</a>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<a routerLink="/entry-form" routerLinkActive="active">Write an entry</a>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<h1>TESTING SIDE BAR </h1>&ndash;&gt;-->
    <!--</mat-sidenav-content>-->
  <!--</mat-sidenav-container>-->
<!--</nav>-->


<li>Things</li>
<li>Stuff</li>
<li>Other things</li>
<li>Other stuff</li>
