<h3> Write in visitor book </h3>

<p>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Write a name">
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="fill">
    <mat-label>Relationship</mat-label>
    <input matInput placeholder="Relationship">
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title">
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="fill">
    <mat-label>Song</mat-label>
    <input matInput placeholder="Song">
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <textarea matInput placeholder="Message"></textarea>
  </mat-form-field>
</p>

<a mat-stroked-button color="accent" routerLink="/visitor-book" routerLinkActive="active">Save</a>

<router-outlet></router-outlet>

