<!--<nav class="navbar navbar-inverse">-->
  <!--<div class="container-fluid">-->
    <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
    <!--<div class="navbar-header">-->
      <!--<h3> Kea's 30.5 birthday visitor book </h3> <br> <br>-->
      <!--<a href="/entry-form">Write an entry </a>-->
      <!--<a href="/visitorBook"> Read entries</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

<!--<p>-->
  <!--<h3> Kea's 30.5 birthday visitor book </h3>-->
  <!--<li></li>-->
  <!--<li></li>-->
<!--</p>-->
<mat-toolbar color="warn">
  <mat-toolbar-row>
    <!--<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">-->
    <!--<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>-->
    <!--</button>-->
  </mat-toolbar-row>
</mat-toolbar>
